
:root{
    --dark-color: #0a0a0a;
    --golden-color: #fbc85d;
    --golden-dark-color: #c48b3e;
    --gray-dark-color: #1e1e1e;
    --star-color: #5c3e84;
    --shunning-color: #f2f2f2;
    --moder-green-color: #118a7e;
    --map-color: #e55e5e;
    --facebook-color: #1877f2;
    --email-color: #ea4335; 
    --whatsApp-color: #25d366;
    
}


body{
    background-image: linear-gradient(to right, var(--dark-color), var(--gray-dark-color)) ;
    direction: rtl;
}
/* Begin Navbar */
.navbar{
    width: 100%;
    background-color: var(--dark-color) !important;
    border-bottom: 1px solid var(--golden-color) !important;
    position: fixed !important;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.navbar .navbar-toggler{
    background-color: var(--golden-dark-color);
}
.navbar .nav-link{
    color: #fff !important;
    margin: 0px 10px;
    position: relative;
}
.navbar .nav-link::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--golden-color);
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 50%);
    transition: all 0.3s ease;
}
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after{
    width: 100%;
}

@media screen and (max-width: 992px) {
        .navbar .nav-link{
            margin: 5px 0;
            padding: 10px;
            border-radius: 7px;
            transition: all 0.3s ease;
        }
        .navbar .nav-link.active,
        .navbar .nav-link:hover{
            background-color: var(--golden-dark-color);
            margin: 5px 0;
            padding: 10px;
            border-radius: 7px;
        }
        .navbar .nav-link::after{
        content: '';
        width: 0;
        height: 0;
        
    }
}
/* End Navbar */

/* Begin Main Content */

.container{
    color: #fff;
}
/* Begin Hook Section */
.container .hook{
    margin: 100px 0;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.container .hook .contact-btn{
    background-color: var(--golden-dark-color);
    border: 1px solid var(--golden-dark-color);
    transition: all 0.3s ease;
}
.container .hook .contact-btn:hover{
    background-color: var(--gray-dark-color);
    box-shadow: 0 0 10px var(--golden-color);
    
}
/* End Hook Section */

/* Begin Services Section */

.services{
    display: flex;
    justify-content: center;
}
.service-title{
    color: var(--golden-color);
    margin-bottom: 30px;
    position: relative;
}
.service-title::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--golden-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.card{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: var(--gray-dark-color);
    background-image: radial-gradient(circle, var(--gray-dark-color), var(--gray-dark-color));
    border: none;
    border-radius: 20px;
    transition: 0.3s ease;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    } 
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, var(--moder-green-color),  var(--star-color));
    opacity: 0;
    transition: 0.5s ease;
    z-index: -1;
}

.card:hover{
    box-shadow: 0 0 10px var(--star-color);
    background-image: radial-gradient(circle, var(--moder-green-color),  var(--star-color));
}
.card:hover::before{
    opacity: 1;
}
.services .card svg{
    width: 50px;
    height: 50px;
    color: var(--golden-color);
    margin-bottom: 20px;
}

/* End Services Section */

/* Begin Projects Section */

.projects{
    margin: 100px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-name{
    color: #eee;
    position: relative;
    padding: 10px ;
    background-color: var(--golden-dark-color);
    border-radius: 7px 7px 0 0;
    text-align: center;
    max-width: 800px;

}
.projects .card{
    margin: 0;
    padding: 0;
    margin-bottom: 30px ;
    aspect-ratio: 4 / 3;
    border-radius: 0 0 7px 7px;
    max-width: 800px;
    text-align: center;
}
.projects .card img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.carousel-indicators{
    background-color: var(--dark-color) !important;
    border-radius: 30px;
}
.carousel-indicators button{
    background-color: var(--golden-dark-color) !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.projects .carousel-control-prev-icon,
.projects .carousel-control-next-icon{
    background-color: var(--dark-color);
    color: var(--golden-dark-color);
    padding: 10px ;
    border-radius: 10px;
}
@media screen and (max-width: 576px) {
    .projects .carousel-control-prev-icon,
    .projects .carousel-control-next-icon{
        padding: 5px;
        border-radius: 10px;
    }

    .carousel-indicators button{
        background-color: var(--golden-dark-color) !important;
        width: 8px !important;
        height: 8px !important;
        border-radius: 50%;
        transition: all 0.3s ease;
    }    
}
/* End Projects Section */

/* Begin Panar Section */

.panar{
    /* background-color: var(--dark-color); */
    margin-bottom: 100px;
}
.panar .panar-img{
    background-image: url('../images/panar.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border-radius: 10px;
}
@media screen and (max-width: 992px){
    .panar {
        margin-bottom: 50px;
    }
    .panar .panar-img{
        height: 200px;
    }
}
@media screen and (max-width: 576px){
    .panar {
        margin-bottom: 30px;
    }
    .panar .panar-img{
        height: 150px;
    }
}
/* End Panar Section */

/* Begin Contact Section */

.contact{
    background-color: var(--dark-color);
    border: 1px solid var(--golden-color) ;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 100px;
}
.contact .contact-title{
    color: var(--golden-color);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.contact .contact-text{
    color: #eee;
    font-size: 18px;
    margin-bottom: 30px;
}
.contact .address{
    color: #eee;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.contact .address a{
    color: #eee;
    text-decoration: none;
    padding: 6px;
    border-radius: 7px;
    transition: all 0.3s ease;
}
.contact .address a:hover{
    box-shadow: 0 0 10px var(--golden-color);
    background-color: var(--gray-dark-color);
}
.contact .address svg{
    color: var(--map-color);
    margin-left: 5px;
    font-size: 28px;
    text-shadow: 0 0 50px var(--map-color);
}
.contact .contact-info .facebook,
.contact .contact-info .phone,
.contact .contact-info .email
{
    color: #eee;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}
.contact .contact-info .facebook svg,
.contact .contact-info .phone svg,
.contact .contact-info .email svg{
    margin-left: 10px;
}
.contact .contact-info .facebook svg{
    color: var(--facebook-color);
}
.contact .contact-info .phone svg{
    color: var(--whatsApp-color);
}
.contact .contact-info .email svg{
    color: var(--email-color);
}
@media screen and (max-width: 576px) {
    .contact{
        padding: 20px;
        margin-bottom: 0;
    }
    .contact .contact-info .facebook,
.contact .contact-info .phone,
.contact .contact-info .email
{
    font-size: 18px;
}
}
/* End Contact Section */

/* End Main Content */